<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Agastu</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
    <!-- <link href="../../assets/vendor/aos/aos.css" rel="stylesheet"> -->
    <!-- <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->
    <!-- <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- <div>hi in index</div>

    <iframe src="./dummy.html"></iframe> -->
    <div class="container-fluid">
        <section id="hero" class="hero d-flex align-items-center section-bg">
            <div class="container">
              <div class="row justify-content-between gy-5">
                <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                  <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
                  <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
                  <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                  </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                  <img src="../../assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                </div>
              </div>
            </div>
          </section>
    </div>

    <!--  -->
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Our Menu</h2>
            <p>Check Our <span>Yummy Menu</span></p>
          </div>
  
          <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
  
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                <h4>Starters</h4>
              </a>
            </li><!-- End tab nav item -->
  
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                <h4>Breakfast</h4>
              </a><!-- End tab nav item -->
  
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                <h4>Lunch</h4>
              </a>
            </li><!-- End tab nav item -->
  
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                <h4>Dinner</h4>
              </a>
            </li><!-- End tab nav item -->
  
          </ul>
  
          <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
  
            <div class="tab-pane fade active show" id="menu-starters">
  
              <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Starters</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-1.png" class="glightbox"><img src="../../assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Magnam Tiste</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $5.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-2.png" class="glightbox"><img src="../../assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Aut Luia</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $14.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-3.png" class="glightbox"><img src="../../assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Est Eligendi</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $8.95
                  </p>
                </div><!-- Menu Item -->  
              </div>
            </div><!-- End Starter Menu Content -->
  
            <div class="tab-pane fade" id="menu-breakfast">
  
              <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Breakfast</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-1.png" class="glightbox"><img src="../../assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Magnam Tiste</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $5.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-2.png" class="glightbox"><img src="../../assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Aut Luia</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $14.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-3.png" class="glightbox"><img src="../../assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Est Eligendi</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $8.95
                  </p>
                </div><!-- Menu Item -->  
              </div>
            </div><!-- End Breakfast Menu Content -->
  
            <div class="tab-pane fade" id="menu-lunch">
  
              <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Lunch</h3>
              </div>
  
              <div class="row gy-5">  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-1.png" class="glightbox"><img src="../../assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Magnam Tiste</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $5.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-2.png" class="glightbox"><img src="../../assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Aut Luia</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $14.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-3.png" class="glightbox"><img src="../../assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Est Eligendi</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $8.95
                  </p>
                </div><!-- Menu Item -->
              </div>
            </div><!-- End Lunch Menu Content -->
  
            <div class="tab-pane fade" id="menu-dinner">
  
              <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Dinner</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-1.png" class="glightbox"><img src="../../assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Magnam Tiste</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $5.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-2.png" class="glightbox"><img src="../../assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Aut Luia</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $14.95
                  </p>
                </div><!-- Menu Item -->
  
                <div class="col-lg-4 menu-item">
                  <a href="../../assets/img/menu/menu-item-3.png" class="glightbox"><img src="../../assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                  <h4>Est Eligendi</h4>
                  <p class="ingredients">
                    Lorem, deren, trataro, filede, nerada
                  </p>
                  <p class="price">
                    $8.95
                  </p>
                </div><!-- Menu Item -->
              </div>
            </div><!-- End Dinner Menu Content -->  
          </div>  
        </div>
      </section>


      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Contact</h2>
            <p>Need Help? <span>Contact Us</span></p>
          </div>
  
          <div class="mb-3">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Google Maps -->
  
          <div class="row gy-4">
  
            <div class="col-md-6">
              <div class="info-item  d-flex align-items-center">
                <i class="icon bi bi-map flex-shrink-0"></i>
                <div>
                  <h3>Our Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                <i class="icon bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>contact@example.com</p>
                </div>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-md-6">
              <div class="info-item  d-flex align-items-center">
                <i class="icon bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                </div>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-md-6">
              <div class="info-item  d-flex align-items-center">
                <i class="icon bi bi-share flex-shrink-0"></i>
                <div>
                  <h3>Opening Hours</h3>
                  <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                    <strong>Sunday:</strong> Closed
                  </div>
                </div>
              </div>
            </div><!-- End Info Item -->
  
          </div>
  
          <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
            <div class="row">
              <div class="col-xl-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-xl-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form><!--End Contact Form -->  
        </div>
      </section>

      <footer id="footer" class="footer">

        <div class="container">
          <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
              <i class="bi bi-geo-alt icon"></i>
              <div>
                <h4>Address</h4>
                <p>
                  A108 Adam Street <br>
                  New York, NY 535022 - US<br>
                </p>
              </div>
    
            </div>
    
            <div class="col-lg-3 col-md-6 footer-links d-flex">
              <i class="bi bi-telephone icon"></i>
              <div>
                <h4>Reservations</h4>
                <p>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 footer-links d-flex">
              <i class="bi bi-clock icon"></i>
              <div>
                <h4>Opening Hours</h4>
                <p>
                  <strong>Mon-Sat: 11AM</strong> - 23PM<br>
                  Sunday: Closed
                </p>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Follow Us</h4>
              <div class="social-links d-flex">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>Agastu</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
            Designed by <a href="iankitgupta.com">Ankit Gupta</a>
          </div>
        </div>
    
      </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="../../assets/js/agastu-service.js"></script>
</html>